body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.center-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.03);
}

.center-box a.button {
    font-family: 'Arial', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.center-box a.button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

@font-face {
    font-family: 'angelwish';
    src: url(Resources/Angelwish.ttf);
}

.center-box p {
    font-size: 69px;
    font-family: 'angelwish', sans-serif;
    margin-bottom: 20px;
    margin-top: 14px;
}

.second-box {
    position: absolute;
    font-family: 'Arial', sans-serif;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.02);
}

.textbox {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.textbox h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.textbox p {
    font-size: 16px;
    margin: 10px 0;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.textbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.icon-1 {
    background-image: url('Resources/chat.png');
    margin-left: -5px;
    width: 47px;
    height: 40px;
}

.icon-2 {
    background-image: url('Resources/bot.png');
    margin-bottom: 6px;
    margin-top: -1px;
}

.icon-3 {
    background-image: url('Resources/mod.png');
    margin-bottom: 6px;
    margin-top: -1px;
    margin-left: 5px;
}

.credits-uwu {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.98);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.02);
    z-index: 3;
    width: 40%;
    max-width: 400px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.popup-content {
    position: relative;
}

.popup-close {
    position: absolute;
    top: -35px;
    right: -10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}body {
    margin: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    user-select: none;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
}

.center-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 20px;
    width: 400px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.03);
}

.center-box a.button {
    font-family: 'Arial', sans-serif;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    transition: box-shadow 0.3s ease;
}

.center-box a.button:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.4);
}

@font-face {
    font-family: 'angelwish';
    src: url(Resources/Angelwish.ttf);
}

.center-box p {
    font-size: 69px;
    font-family: 'angelwish', sans-serif;
    margin-bottom: 20px;
    margin-top: 14px;
}

.second-box {
    position: absolute;
    font-family: 'Arial', sans-serif;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.02);
    padding: 20px;
    width: 700px;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.02);
}

.textbox {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    text-align: left;
    padding: 20px;
}

.textbox h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
}

.textbox p {
    font-size: 16px;
    margin: 10px 0;
}

.icon {
    width: 40px;
    height: 40px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.textbox-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.icon-1 {
    background-image: url('Resources/chat.png');
    margin-left: -5px;
    width: 47px;
    height: 40px;
}

.icon-2 {
    background-image: url('Resources/bot.png');
    margin-bottom: 6px;
    margin-top: -1px;
}

.icon-3 {
    background-image: url('Resources/mod.png');
    margin-bottom: 6px;
    margin-top: -1px;
    margin-left: 5px;
}

.credits-uwu {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    color: #ffffff;
}

.popup {
    display: none;
    position: fixed;
    font-family: 'Arial', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.98);
    padding: 20px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.02);
    z-index: 3;
    width: 40%;
    max-width: 400px;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.popup-content {
    position: relative;
}

.popup-close {
    position: absolute;
    top: -35px;
    right: -10px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}
